/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS Variables */
:root {
  --font-fam: "Poppins", sans-serif;
  --bold-weight: 700;
  --med-weight: 500;
  --button-color: hsl(180, 66%, 49%);
  --body-color: hsl(0, 0%, 75%);
  --s2-color: #eff1f7;
  --shorten-color: hsl(260, 8%, 14%);
}
/* REM declarations */
html {
  font-size: 18px;
  font-family: var(--font-fam);
}
/* It's like the folds of a newspaper, the whole shebang */
.fold-container {
  display: flex;
  /* border: 0.1rem solid black; */
  overflow-x: hidden;
  flex-flow: column nowrap;
  position: relative;
}

.section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  max-width: 1440px;
}

.section-one {
  /* border: 0.1rem solid red; */
}

.navigation {
  display: flex;
  height: 5rem;
  width: 60rem;
  /* border: 0.1rem solid dodgerblue; */
}

.navigation ul {
  list-style: none;
}

.first-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 0.1rem solid palevioletred; */
  width: 51rem;
}

.first-links li,
a {
  padding-right: 0.7rem;
  font-size: 12px;
  text-decoration: none;
  color: hsl(0, 0%, 75%);
}

.title {
  padding: 0rem 2rem 0rem 2rem;
  font-weight: 700;
}

.login-container {
  display: flex;
  /* border: 0.1rem solid purple; */
  align-items: center;
  justify-content: center;
  width: 9rem;
}

.login-container li {
  font-size: 12px;
  text-decoration: none;
  color: hsl(0, 0%, 75%);
}

.login-container ul {
  display: flex;
  flex-direction: row;
}

.bubble {
  font-family: var(--font-fam);
  font-size: 0.7rem;
  background-color: var(--button-color);
  color: white;
  height: 2rem;
  width: 5rem;
  border-radius: 0.9rem;
  border: none;
}

.main-info {
  display: flex;
  margin-top: 1rem;
  height: 65vh;
  width: 60rem;
  /* border: 0.1rem solid dodgerblue; */
}

.main-info img {
  position: relative;
  top: 0;
  left: 3rem;
  width: 33rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  /* border: 0.1rem solid palegreen; */
  margin-top: 3rem;
  padding: 0rem 2rem 0rem 2rem;
}

.big-title {
  /* padding: 0rem 2rem 0rem 2rem; */
  width: 31rem;
  height: 8rem;
  font-size: 3.5rem;
  line-height: 4rem;
  /* border: 0.1rem solid palevioletred; */
}

.sub-title {
  color: var(--body-color);
  /* border: 0.1rem solid palevioletred; */
  width: 27rem;
  margin-bottom: 1rem;
}

.get-started {
  font-family: var(--font-fam);
  font-weight: var(--bold-weight);
  font-size: 0.84rem;
  background-color: var(--button-color);
  color: white;
  height: 2.7rem;
  width: 9rem;
  border-radius: 3rem;
  border: none;
}

/* URL shortening input field and container*/

.shorten-container {
  position: absolute;
  left: 2rem;
  bottom: 29.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 60rem;
  background-color: var(--shorten-color);
  border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
}

.shorten-container input {
  padding-left: 2rem;
  font-size: 1rem;
  color: var(--body-color);
  display: block;
  width: 41rem;
  height: 3.5rem;
  border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
  margin-right: 1.2rem;
}

.shorten-container .shorten-field {
  display: flex;
  position: absolute;
}
.shorten-container img {
  width: 60rem;
  border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
}

.shorten-button {
  font-family: var(--font-fam);
  font-weight: var(--bold-weight);
  font-size: 1rem;
  background-color: var(--button-color);
  color: white;
  height: 3.5rem;
  width: 10rem;
  border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
  border: none;
}

/* Section Two components */

.section-two {
  display: flex;
  border: 0.1rem solid black;
  background-color: var(--s2-color);
  align-items: center;
}

.section-two-header {
  display: flex;
  text-align: center;
  padding: 1rem;
  margin: 5rem auto 0rem auto;
  flex-flow: column;
  /* border: 0.1rem solid red; */
}

.section-two-header .sub-title {
  font-size: 0.9rem;
}

.section-two-header .title {
  font-size: 1.9rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  width: 60rem;
  height: 16rem;
}

.card {
  padding: 1.5rem;
  width: 18rem;
  height: 14rem;
  background-color: white;
  border-radius: 0.7rem;
}

.card-1 {
  margin-left: 0rem;
  margin-top: 0rem;
}
.card-2 {
  margin-top: 2rem;
}
.card-3 {
  position: relative;
  top: 4rem;
}

.illustration-circle {
  position: relative;
  bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: var(--shorten-color);
  border-radius: 5rem;
}

.illustration-circle img {
  width: 2.5rem;
  height: 2.5rem;
}

.card-content {
  position: relative;
  bottom: 2rem;
}

.card .title {
  font-size: 1.2rem;
  padding: 0rem 0rem 1rem 0rem;
}

.card p {
  color: var(--body-color);
  font-size: 0.75rem;
}

.cyan-box {
  position: relative;
  top: 9rem;
  width: 4rem;
  height: 0.5rem;
  background-color: var(--button-color);
}

/* Call to action section */
