@media (min-width: 450px) and (max-width: 768px) {
  .screen {
    font-family: var(--font-fam);
    font-weight: 500;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .drawer-picture {
    width: 325px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
  }

  .component {
    width: 325px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -95px;
  }

  .content {
    /* border: 1px solid black; */
    width: 325px;
    height: 300px;
    padding: 30px 30px 20px 30px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
  }

  .title {
    height: 65px;
    width: 260px;
    font-size: 16px;
    color: hsl(217, 19%, 35%);
    line-height: 1.5;
  }

  .description {
    color: hsl(212, 23%, 69%);
    font-size: 14px;
    height: 90px;
    width: 260px;
  }

  .user-info {
    display: flex;
    height: 40px;
    width: 260px;
  }

  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 25px;
  }

  .user-content {
    width: 150px;
    height: 40px;
    position: relative;
    top: 4px;
  }

  .user-name {
    color: hsl(217, 19%, 35%);
    font-size: 11px;
    margin-bottom: 2px;
  }

  .date-posted {
    color: hsl(212, 23%, 69%);
    font-size: 11px;
  }

  .circle {
    position: relative;
    top: 2px;
    left: 21px;
    width: 35px;
    height: 35px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 25px;
  }

  .arrow {
    position: relative;
    top: 5px;
    left: 10px;
  }

  .share-modal {
    visibility: hidden;
    position: relative;
    bottom: 155px;
    left: 115px;
    width: 240px;
    height: 65px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .spread-title {
    width: 60px;
    font-size: 11px;
    padding-left: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: hsl(212, 23%, 69%);
  }

  .square {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: hsl(217, 19%, 35%);
    top: 32px;
    right: 95px;
    transform: rotate(45deg);
  }
}
