* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-fam: 'Manrope', sans-serif;
}

.screen {
  font-family: var(--font-fam);
  font-weight: 500;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer-picture {
  height: 240px;
  width: 240px;
  border-radius: 10px 0px 0px 10px;
}

.component {
  width: 725px;
  height: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content {
  height: 240px;
  width: 380px;
  padding: 30px 40px 20px 35px;
  display: flex;
  flex-wrap: wrap;
  background-color:white;
  border-radius: 0px 10px 10px 0px;
}

.title {
  height: 70px;
  width: 285px;
  font-size: 16px;
  color: hsl(217, 19%, 35%)
}

.description {
  color: hsl(212, 23%, 69%);
  font-size: 11px;
  position: relative;
  top: -5px;
}

.user-info {
  display: flex;
  height: 30px;
  width: 285px;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  margin-right: 15px;
}

.user-content {
  width: 450px;
}

.user-name {
  color: hsl(217, 19%, 35%);
  font-size: 10px;
  margin-bottom: 2px;
}

.date-posted {
  color: hsl(212, 23%, 69%);
  font-size: 10px;
}

.circle {
  position: relative;
  top: 2px;
  left: 21px;
  width: 60px;
  height: 29px;
  background-color:hsl(210, 46%, 95%);
  border-radius: 25px;
}

.arrow {
  position: relative;
  top: 2px;
  left: 7px;
}

.share-modal {
  width: 245px;
  height: 50px;
  background-color: hsl(217, 19%, 35%);
  border-radius: 5px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  /* 95 60 */
}

.spread-title {
  width: 60px;
}

.share-icons {
  border: 2px solid red;
  color: black;
}