* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-fam: 'Manrope', sans-serif;
}

.screen {
  font-family: var(--font-fam);
  font-weight: 500;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  position: fixed;
}